<%
######################################################################
## METHODS
######################################################################
	def group_samples(factor_cols)
		grouped_samples = {}
		@hash_vars['all_info_table'].each_with_index do |row, i|
			if i > 0
				current_cats = factor_cols.map{|col| row[col]}
				query = grouped_samples[current_cats]
				if query.nil?
					grouped_samples[current_cats] = [row]
				else
					query << row
				end
			end
		end
		return grouped_samples
	end

	def handle_recombination_data(col_data, samples, fields, count)
		paths = samples.map{|row| row[col_data]}
		single_merged_data = []
		double_merged_data = []
		axis_count = -1
		x_axis = []
		y_axis = []
		paths.each do |path|
			file = parse_tabular_file(path)
			single_merged_data = select_rec_by_type_and_merge('HomoRecs', single_merged_data, file, fields)
			double_merged_data = select_rec_by_type_and_merge('NonHomoRecs', double_merged_data, file, fields)
			axis_count += 1
			x_axis << axis_count
			axis_count += 1
			y_axis << axis_count
		end
		@hash_vars["rec_#{count}_HomoRecs"] = single_merged_data
		@hash_vars["rec_#{count}_NonHomoRecs"] = double_merged_data
		@hash_vars["rec_#{count}_all"] = double_merged_data + single_merged_data
		return x_axis, y_axis
	end

	def merge_data(file, merged_data)
		m_data_rows = merged_data.length
		m_data_cols = merged_data.first.length
		file_rows = file.length
		file_cols = file.first.length
		if m_data_rows < file_rows
			(file_rows - m_data_rows ).times do 
				merged_data << Array.new(m_data_cols){|index| ""}
			end
		end
		merged_data.each_with_index do |m_data_row, i|
			data2add = file[i]
			if !data2add.nil?
				m_data_row.concat(data2add)
			else
				m_data_row.concat(Array.new(file_cols){|index| ""})
			end
		end
	end

	def select_rec_by_type_and_merge(key, merged_data, file,fields)
		file_filt = file.select{|row| row[3] == key}
		file_filt.map!{|row| fields.map{|f| row[f]}}
		if !file_filt.empty?
			if merged_data.empty?
				merged_data = file_filt
			else
				merge_data(file_filt, merged_data) 
			end
		end
		return merged_data
	end

	def get_sample_factor_relation(factors, tab_header, sample_table)
		indexes = [0].concat(factors.map{|f| tab_header.index(f)}) # 0 is sample name
		samp_fact_rel = sample_table.map{|sample_data| indexes.map{|ind| sample_data[ind]}}
		return samp_fact_rel.to_h{|sample| [sample.first, sample[1..sample.length-1]]}
	end

	def get_sample_grouping(sample_factor_relation)
		factors2samples = {}
		sample_factor_relation.each do |sample, factors|
			query = factors2samples[factors]
			if query.nil?
				factors2samples[factors] = [sample]
			else
				query << sample
			end
		end
		return factors2samples
	end

	######################################################################
	## DATA
	######################################################################
	data_header = @hash_vars['all_info_table'].first 
	factor_cols = @hash_vars['experiment_factors'].map{|col| data_header.index(col.first)}
	@hash_vars['all_info_table'].each_with_index do |sample_data, i| # Add combination factor column to ease the grouping of samples by the combination of the all sample factors
		if i == 0
			sample_data << 'Factor_combination'
		else
			sample_data << factor_cols.map{|f_col| sample_data[f_col]}.join(':')
		end
	end
	#Order by sample name
	tab_header = @hash_vars['all_info_table'].shift
	@hash_vars['all_info_table'].sort!{|s1, s2| s1.first.reverse <=> s2.first.reverse }
	sample_factors = get_sample_factor_relation(
		@hash_vars['experiment_factors'].flatten, 
		tab_header,
		@hash_vars['all_info_table']
	)
	samples_per_factor_group = get_sample_grouping(sample_factors)
	sample_name_idx = @hash_vars['old_new_names'].map{|pair| pair.map{|pr| pr.strip}}.to_h # To pass from sample name to sample name with factors
	@hash_vars['all_info_table'].unshift(tab_header)

%>

<div style="width:90%; background-color:#ecf0f1; margin:0 auto;">
	<h1 style="text-align:center; background-color:#d6eaf8 ">QuasiFlow comparative sample study Report</h1>

	<p> Something </p>
	<p> <b> Please, wait to finish the report loading </b> </p>

	<h3 style="text-align:center; background-color:#d6eaf8 ">Correlation analysis</h3>
	<div style="overflow: hidden">
		<%
		pairs = [
			['ReferenceReads_tot', 'Haplot_tot'],
			['ReferenceReads_tot', 'SNPs_tot'],
			['ShannonDivI', 'Haplot_tot'],
			#['HpMutFreq', 'TsTv_ratio'],
			['RawReads_tot', 'mapping_coverage'],
			['SNPs_tot', 'mapping_coverage'],
		]
		pairs.each do |x, y|
			cols = [data_header.index(x), data_header.index(y)]
			%><%=
			sccater2D(id: "all_info_table", fields: cols, header: false, row_names: false, 
				responsive: false,
				text: true,
				height: '600px', width: '600px',
				title: "#{x} VS #{y}",
				x_label: x, y_label: y,
				regressionLine: true,
				config: {
					#'showLegend' => false,
					#'xAxis' => x_axis,
					#'yAxis' => y_axis,
					'sizes' => Array.new(16, 8),
					'graphOrientation' => 'vertical',
					'lineDecoration' => false
					})
			%><%
			end
		%>
	</div>

	<%
		vars = [
			#'init_min_qual_per_base_in_lower_quartile', #Eliminado por Luis
			#'post_min_qual_per_base_in_lower_quartile', #eliminado por luis
			'VFPKM',
			#'ReferenceReads_perc', #Eliminado por luis
			#'HpMutFreq',
			'SNPs_tot',
			'SNPs_rel',
			'vars_tot',
			'vars_rel',
			'TsTv_ratio',
			'HomoRecs',
			'NonHomoRecs',
			'Rec_freq',
			'Haplot_tot',
			'ShannonDivI',
			'SampNucDivEntity'
		]
	%>

	<h3 style="text-align:center; background-color:#d6eaf8 "> Single factor impact analysis</h3>
	<div style="overflow: hidden">
		<% @hash_vars['experiment_factors'].each do |factor|
			factor_name = factor.first %>
			<h3 style="text-align:center; background-color:#d6eaf8 "><%= factor_name %></h3>
			<div style="overflow: hidden">
			<% vars.each do |var|
				%><%=
				col = data_header.index(var)
				barplot(id: "all_info_table", fields: [0, col], header: true, row_names: true, 
					responsive: false,
					height: '400px', width: '400px',
					title: "#{var}",
					x_label: var,
					sample_attributes: {'Att' => data_header.index(factor_name)},
					group_samples: ['Att'],
					config: {
						'setMinX' => '0',  #Luis
						'showLegend' => false,
						#'xAxis' => x_axis,
						#'yAxis' => y_axis,
						'graphOrientation' => 'vertical',
						}) %>
			<% end %>
			</div>
		<% end %>
	</div>

	<h3 style="text-align:center; background-color:#d6eaf8 "> Multiple factor impact analysis</h3>
	<div style="overflow: hidden">
		<% combination_col = data_header.index('Factor_combination') 
		vars.each do |var|%>
			<%= col = data_header.index(var)
			barplot(id: "all_info_table", fields: [0, col], header: true, row_names: true, 
				responsive: false,
				height: '400px', width: '400px',
				title: "#{var}",
				x_label: var,
				sample_attributes: {'Att' => combination_col},
				group_samples: ['Att'],
				config: {
					'setMinX' => '0',  #Luis
					'showLegend' => false,
					#'xAxis' => x_axis,
					#'yAxis' => y_axis,
					'graphOrientation' => 'vertical',
					}) %>
		<% end %>
	</div>

	<h3 style="text-align:center; background-color:#d6eaf8 ">SNP fequency analysis</h3>
	<div style="overflow: hidden">
		<% var_freq_tab_header = @hash_vars['var_freq_by_positionNsample'].first
		var_freq_tab_header.map!{|item| sample_name_idx[item]}
		samples_per_factor_group.each do |factor_combination, sample_ids| 
			samples_idx = sample_ids.map{|sp| var_freq_tab_header.index(sp)}
			%>
			<h4 style="text-align:center; background-color:#d6eaf8 "><%= factor_combination.join(' -- ')%></h4>
			<%= line(id: 'var_freq_by_positionNsample', fields: [0].concat(samples_idx), header: true, row_names: true, 
				responsive: false,
				title: 'Mut. Freq',
				x_label: 'Mutation frequency (%)',
				config: {
					'graphOrientation' => 'vertical',
					'smpTitle' => 'Genome position (nt)',
					'smpLabelInterval' => 200,
					'lineDecoration' => false
				}) do |data|
					delete = []
					data.first.length.times do |i|
						column = data.map{|row| row[i]}
						delete << i if column.count(0) + 1 == column.length
					end
					delete.reverse!
					data.each do |row|
						delete.each{|d| row.delete_at(d)}
					end
				end %>
		<% end %>
	</div>

	<h3 style="text-align:center; background-color:#d6eaf8 ">Virus recombination analysis</h3>
	<p> Recombination charts are shown by each combination of study factors. Colours in charts represents each sample belonging to the combination factor study. </p>
	<div style="overflow: hidden">
		<%
			grouped_samples = group_samples(factor_cols)

			count = 0
			recombination_path_file_col = data_header.index('RecombinationData')
			grouped_samples.each do |key, samples|
				%><h4 style="text-align:center; background-color:#d6eaf8 "><%= key.join(' -- ')%></h3>
				<div style="overflow: hidden">
					<%
					x_axis, y_axis = handle_recombination_data(recombination_path_file_col, samples, [0, 1],count)
					#['Single', 'Double'].each do |type|
					['all', 'HomoRecs', 'NonHomoRecs'].each do |type|
						%>					
						<%=
						sccater2D(id: "rec_#{count}_#{type}", header: false, row_names: false, 
							responsive: false,
							text: true,
							height: '400px', width: '400px',
							title: "ViRema recombinations (#{type} strand)",
							config: {
								'showLegend' => false,
								'xAxis' => x_axis,
								'yAxis' => y_axis,
								'sizes' => Array.new(16, 6),
								'graphOrientation' => 'vertical',
								'lineDecoration' => false
								})
						%>
						<%
					end
				%>
				</div>
				<%
				count +=1
			end
		%>
	</div>

	<h3 style="text-align:center; background-color:#d6eaf8 ">ANOVA factor analysis</h3>
	<p> The following table shows all the variable-factor pairs that are significant in the ANOVA analysis with an <i>alpha</i> equal to <b>0.01</b> </p>
	<div style="overflow: hidden">
		<%=
		table(id: 'anova_results', text: true, header: true,
			cell_align: ['left', 'right', 'right'],
			border: 2,		
			attrib: {
				'cellspacing' => 0,
				'cellpadding' => 2
			}) do |data|
			data.unshift(['Variable', 'Factor', 'p-valor'])
		end
		%>
		<%
		
		significative_vars = {}
		@hash_vars['experiment_factors'].map{|item| item.first}.each do |fact|
			significative_vars[fact] = []
		end
		@hash_vars['anova_results'].map{|row| [row[0].strip, row[1]]}.each do |var, factor|
			significative_vars[factor.strip] << var if !factor.include?(':') #this skips significative interactions on ANOVA results
		end

		anova_vars = significative_vars.values.flatten.uniq
		table_cols = anova_vars.map{|var| data_header.index(var) }
		maxs = []
		table_cols.each do |col|
			maxs << @hash_vars['all_info_table'].map{|row| row[col].to_f}.max
		end

		@hash_vars['experiment_factors'].each do |factor|
			factor_name = factor.first
			%>
			<%= circular(id: 'all_info_table', fields: [0].concat(table_cols), header: true, row_names: true,
				height: '800px',
				width: '800px',
				responsive: false,
				sample_attributes: {'Att' => data_header.index(factor_name)},
				config: {
					'smpLabelOrientation' => 'circular',
					'smpOverlays' => ['Att'],
					"segregateSamplesBy" => ['Att'],
					'colorSpectrum' => ["#d73027", "#fc8d59", "#fee090", "#ffffbf", "#e0f3f8", "#91bfdb", "#4575b4"]
					}) do |data|
						data.each_with_index do |row, i| # vars
							next if i == 0
							max =  maxs[i-1]
							if !significative_vars[factor_name].include?(row.first)
								data[i] = nil
								next
							end
							row.each_with_index do |val, j| #samples
								next if j == 0
								data[i][j] = (max - val)*100.0/max # data contains header, so we'll skip it with i-1 on maxs vector
							end
						end
						data.compact!
				end
		%>
		<% end %>
	</div>

	<h3 style="text-align:center; background-color:#d6eaf8 ">PCA analysis</h3>
	<p> The following tables show all significant variables, factors and categories for dimensions one and two in the PCA performed in this study. If the Factors or Categories sections are not shown it means that there are no statistically significant factors or categories for the analysis performed. In addition, the graphical report in pdf of each PCA analysis is attached </p>

	<%
		pcas = [
			#['pdf_path', 'data_id', 'pca_title'],
			['statistical_analysis/general_pca.pdf', 'PCA_general_results_parsed', 'General analysis'],
			['statistical_analysis/total_pca.pdf', 'PCA_total_results_parsed', 'Using absolute value of variables']
		]
	pcas.each do |pdf_path, data_id, pca_title| %>
		
		<h4 style="text-align:center; background-color:#d6eaf8 "> <%= pca_title %></h3>
		<p><b>PDF with graphical report and correlation analysis</b><p>
		<div style="overflow: hidden">
			<%=
				embed_pdf(pdf_path, 'width="600" height="600"')
			%>
		</div>

		<p><b>Tables with PCA statistics evidences</b><p>
		<div style="overflow: hidden">
			<%['1', '2'].each do |dim|%>
				<%=
				table(id: data_id, text: true, header: true, 
					cell_align: ['left', 'right', 'right'],
					border: 2,		
					attrib: {
						'style' => 'display: inline-table',
						'cellspacing' => 0,
						'cellpadding' => 2
					}) do |data|
						data.select!{|row| row.first == dim}
						data.each{|row| row.shift} if !data.empty?
					end
				%>
			<%end%>
		</div>
	<% end %>

	<h3 style="text-align:center; background-color:#d6eaf8 ">Consesnsus sequence tree</h3>
	<div style="overflow: hidden">
		<%=
			embed_pdf('./consensus.pdf', 'width="800" height="800"') if File.exist?('./consensus.pdf')
		%>
	</div>
</div>
