<%
	@hash_vars['virus_data'].each_with_index do |row, i|
		if i > 0
			@hash_vars['virus_data'][i][1] = (row[1].to_f/100).to_s # this transform varscan freq mutation from percentage to a real frecuency
		end
	end
	@hash_vars['table_results'] = @hash_vars['table_results'].transpose
	complexity_profiles_path = @hash_vars['table_results'].select{|name, val| name == 'ComplexityIndexFolder'}.flatten.last
	if !complexity_profiles_path.nil? && File.exists?(complexity_profiles_path)
		Dir.glob(File.join(complexity_profiles_path, '*.txt')).each do |file_path|
			puts file_path
			@hash_vars[File.basename(file_path, '.txt')] = parse_tabular_file(file_path)
		end
	end
%>

<div style="width:90%; background-color:#ecf0f1; margin:0 auto;">
	<h1 style="text-align:center; background-color:#d6eaf8 ">QuasiFlow Report</h1>

	<p>  This report collects all relevant information generated in the QuasiFlow execution. It is followed by various interactive charts and data tables. </p>
	<p> <b> Please wait for the report to finish loading </b> </p>


	<h3 style="text-align:center; background-color:#d6eaf8 ">Virus genome general overview</h3>
	<div style="overflow: hidden">
		<%=
			header = @hash_vars['virus_data'].first
			orf_number = header.count{ |i| i =~ /\d+l\d+l[rev|dir]+/}
			ringsType = %w[bar heatmap].concat(Array.new(orf_number,'heatmap'))
			#ring_assignation = [1, 2].concat(Array.new(orf_number, 2))
			ring_assignation = [1].concat(Array.new(orf_number, 2))
			total_rings = ring_assignation.length
			ring_width = 100.0/total_rings
			ringsWeight = [ring_width, ring_width*(total_rings -1)/2]
			circular(id: 'virus_data', header: true, row_names: true, 
				height: '800px',
				width: '800px',
				ringsType: ringsType, 
				ringsWeight: ringsWeight,
				ring_assignation: ring_assignation,
				links: 'recombinations',
				responsive: false,
				title: 'Viral attributes representation',
				config: {
					'circularCenterProportion' => 0.3,
					'smpLabelInterval' => 50,
					'colorSpectrumBreaks' => [0.0001, 0.001, 0.005, 0.01, 0.02, 0.03, 0.04],
					})
		%>
		<%=
		fields = %{VFPKM ReferenceReads_tot Rec_freq HomoRecs NonHomoRecs mapping_coverage SNPs_rel min_snp_freq max_snp_freq InDels_rel TsTv_ratio SampNucDivEntity Haplot_tot ShannonDivI PopNucDivI SimpsonDivI GinSimpDivI HillQ1DivI HillQ2DivI FuncAttDiv MutFreqEntity}
		table(id: 'table_results', text: true, header: true,
			border: 2,		
			attrib: {
				'cellspacing' => 0,
				'cellpadding' => 2
			}) do |data|
				data.select!{|attr_name, attr_val| fields.include?(attr_name) || attr_name.include?('OrfMutFreq')}
				data.unshift(['Attribute', 'Value'])
			end
		%>
	</div>

	<h3 style="text-align:center; background-color:#d6eaf8 ">Read quality report</h3>
	<h4 style="text-align:center; background-color:#d6eaf8 ">Read pair 1 and pair 2 BEFORE cleaning process (fastQC original images)</h4>
	<div style="overflow: hidden">
		<%=
			fastqc_img_attr = 'style="max-width:48%; max-height:48%"'
			embed_img('temp/img/pre_clean/pair1/per_base_quality.png', fastqc_img_attr)
		%>
		<%=
			embed_img('temp/img/pre_clean/pair2/per_base_quality.png', fastqc_img_attr)
		%>

	</div>

	<h4 style="text-align:center; background-color:#d6eaf8 ">Read pair 1 and pair 2 AFTER cleaning process (fastQC original images)</h4>
	<div style="overflow: hidden">
		<%=
			embed_img('temp/img/post_clean/pair1/per_base_quality.png', fastqc_img_attr)
		%>
		<%=
			embed_img('temp/img/post_clean/pair2/per_base_quality.png', fastqc_img_attr)
		%>

	</div>

	<h3 style="text-align:center; background-color:#d6eaf8 ">Mapping quality report</h3>
	<div style="overflow: hidden">
		<%=
			line(id: 'coverage_across_reference', header: false, row_names: true, responsive: false,
				title: 'Coverage across reference',
				x_label: 'Nucleotide coverage (X)', #y_label: 'Genome position (nt)', 
				config: {
					'graphOrientation' => 'vertical',
					'lineDecoration' => false,
					'smpTitle' => 'Genome position (nt)', #Luis
					#'showShadow' => true,
					'lineThickness' => '3',
					'citation' => 'From Qualimap: Fernando García-Alcalde et al. (2012)'
					})
		%>
		<%=
			line(id: 'mapping_quality_across_reference', header: false, row_names: true, responsive: false,
				title: 'Mapping quality across reference',
				x_label: 'Map Qual',
				config: {
					'graphOrientation' => 'vertical',
					'lineDecoration' => false,
					'setMinX' => '1',
					'setMaxX' => '70',
					'smpTitle' => 'Genome position (nt)',
					'lineThickness' => '3',
					'citation' => 'From Qualimap: Fernando García-Alcalde et al. (2012)'
					})
		%>
		<%=
			line(id: 'insert_size_histogram', header: false, row_names: true, responsive: false,
				title: 'Read coverage supporting insert size (X1000)',
				x_label: 'Reads',
				config: {
					'graphOrientation' => 'vertical',
					'lineDecoration' => false,
					'smpTitle' => 'Distance between paired reads',
					'citation' => 'From Qualimap: Fernando García-Alcalde et al. (2012)'
					}) 
		%>
		<%=
			line(id: 'insert_size_across_reference', header: false, row_names: true, responsive: false,
				title: 'Insert size across reference (X1000)',
				x_label: 'Reads',
				config: {
					'graphOrientation' => 'vertical',
					'lineDecoration' => false,
					'smpTitle' => 'Genome position (nt)',
					'citation' => 'From Qualimap: Fernando García-Alcalde et al. (2012)'
					}) 
		%>		
		<%=
			barplot(id: 'homopolymer_indels', header: false, row_names: true, responsive: false,
				title: 'Homopolymer InDel',
				x_label: 'Number of InDel',
				config: {
					'graphOrientation' => 'vertical',
					'lineDecoration' => false,
					'citation' => 'From Qualimap: Fernando García-Alcalde et al. (2012)'
					}) 
		%>
	</div>


	<h3 style="text-align:center; background-color:#d6eaf8 ">Virus mutation frecuency analysis</h3>
	<div style="overflow: hidden">
		<%=
			orf_cols = []
			header = @hash_vars['virus_data'].first
			header.each_with_index { |hd, i|  orf_cols << i if hd =~ /\d+l\d+l[rev|dir]+/}
			#line(id: 'virus_data', fields: [0,2].concat(orf_cols), header: true, row_names: true, responsive: false,
			line(id: 'virus_data', fields: [0].concat(orf_cols), header: true, row_names: true, responsive: false,
				title: 'ORF and nucleotide mutation frequency',
				x_label: 'Mutation frequency',
				config: {
					'graphOrientation' => 'vertical',
					'smpTitle' => 'Genome position (nt)',
					'smpLabelInterval' => 200,
					'lineDecoration' => false
					})
		%>
		<%=
			#line(id: 'virus_data', fields: [0,1,2], header: true, row_names: true, responsive: false,
			line(id: 'virus_data', fields: [0,1], header: true, row_names: true, responsive: false,
				title: 'Mut. Freq Equivalence',
				x_label: 'Mutation frequency',
				config: {
					'graphOrientation' => 'vertical',
					'smpTitle' => 'Genome position (nt)',
					'smpLabelInterval' => 200,
					'lineDecoration' => false
					})
		%>
	</div>


	<h3 style="text-align:center; background-color:#d6eaf8 ">Virus recombination analysis</h3>
	<div style="overflow: hidden">
		<% if !@hash_vars['recombinations'].empty? %>
			<%=
				sccater2D(id: 'recombinations', fields: [0,1,2], header: false, row_names: true, responsive: false,
					title: 'All Recombinations',
					x_label: 'Genome position (nt)',
					y_label: 'Genome position (nt)',
					config: {
						'graphOrientation' => 'vertical',
						'lineDecoration' => false,
						'citation' => 'ViReMa',
						}) do |data|
					rec_header = data.shift
					STDERR.puts data.inspect
					data.unshift(rec_header)
				end
			%>
			<%=
				sccater2D(id: 'recombinations', fields: [0,1,2], header: false, row_names: true, responsive: false,
					title: 'Homologous Strand Recombination',
					x_label: 'Genome position (nt)',
					y_label: 'Genome position (nt)',
					config: {
						'graphOrientation' => 'vertical',
						'lineDecoration' => false,
						'citation' => 'ViReMa',
						}) do |data|
					rec_header = data.shift
					data.select!{|row| row[0] == 'black'}
					STDERR.puts data.inspect
					data.unshift(rec_header)
				end
			%>
			<%=
				sccater2D(id: 'recombinations', fields: [0,1,2], header: false, row_names: true, responsive: false,
					title: 'NON Homologous Strand Recombination',
					x_label: 'Genome position (nt)',				
					y_label: 'Genome position (nt)',
					config: {
						'graphOrientation' => 'vertical',
						'lineDecoration' => false,
						'citation' => 'ViReMa',
						}) do |data|
					rec_header = data.shift
					data.select!{|row| row[0] == 'green'}
					STDERR.puts data.inspect
					data.unshift(rec_header)
				end
			%>
		<% else %>
			<p> NO DATA </p>
		<% end %>
	</div>

	<h3 style="text-align:center; background-color:#d6eaf8 ">Haplotype  analysis</h3>
	<div style="overflow: hidden">
		<%=
			scatterbubble2D(id: 'haplotipe_array', header: true, row_names: false, upper_limit: 70, lower_limit: 10, ranges: 80,
				height: '600px', width: '600px',
                xAxis: ['pos'], yAxis: ['haplotipe'], zAxis: ['freq'], responsive: false,
                after_render: [
						    [ "changeAttribute", [ "graphType", "Scatter2D" ] ], # Patch proposed por expressCanvas author
						    [ "switchSmpToAnnotation", ["freq"] ],
						    [ "changeAttribute", ["colorBy", "freq"] ],
						    [ "changeAttribute", ["sizeBy", "freq"] ]
						  ],
				title: 'Haplotype Profile',
				x_label: 'Genome position (nt)',
				config: {
					'citation' => 'CliqueSNV; ClustalW'
					})
		%>

		<%=
			# scatterbubble2D(id: 'filt_haplotipe_array', header: true, row_names: false, upper_limit: 70, lower_limit: 10, ranges: 80,
   #                      xAxis: ['pos'], yAxis: ['haplotipe'], zAxis: ['freq'],  responsive: false,
   #                      after_render: [
			# 			    [ "changeAttribute", [ "graphType", "Scatter2D" ] ],
			# 			    [ "switchSmpToAnnotation", ["freq"] ],
			# 			    [ "changeAttribute", ["colorBy", "freq"] ],
			# 			    [ "changeAttribute", ["sizeBy", "freq"] ]
			# 			  ])                        
		%>
	<%=
			tree_path = 'temp/dendograme.dnd'
			heatmap(id: 'sparse_matrix', header: true, row_names: true, 
				height: '600px', width: '600px',
				tree: tree_path,
				title: 'Haplotype Profile with similarity relations', responsive: false,
				x_label: 'Haplotype frequency',
				config: {
					'varLabelRotate' => 45,
					'varLabelScaleFontFactor' => 0.5,
					'varLabelInterval' => 3,
					'citation' => 'HaploClique; ClustalW'
					}) if File.exist?(tree_path)
		%>

	</div>

	<h3 style="text-align:center; background-color:#d6eaf8 ">Complexity profiles</h3>
	<div style="overflow: hidden">
		<%=
			if !@hash_vars["montserrat_table"].nil?
				barplot(id: "montserrat_table", header: true, row_names: true, 
					responsive: false,
					height: '400px', width: '400px',
					title: "Montserrat plot",
					x_label: 'Frequency',
	#				sample_attributes: {'Att' => data_header.index(factor_name)},
	#				group_samples: ['Att'],
					config: {
	#					'setMinX' => '0',  #Luis
						'showLegend' => false,
						'smpTitle' => 'Mutation number (each bar is a haplotype)',
						#'xAxis' => x_axis,
						#'yAxis' => y_axis,
						'graphOrientation' => 'vertical'
						})
			end

		%>
		<%=
			if !@hash_vars["renyi_profile"].nil?
				line(id: 'renyi_profile', header: true, row_names: true, responsive: false,
					height: '400px', width: '400px',
					title: 'Renyi profile',
					x_label: 'Log(Hill number)',
					config: {
						'showLegend' => false,
						'smpTitle' => 'q Hill',
						'graphOrientation' => 'vertical',
						#'lineDecoration' => false,
						'lineThickness' => '3',
						})
			end
		%>
		<%=
			if !@hash_vars["mutations_vs_hpl_table"].nil?
				line(id: 'mutations_vs_hpl_table', header: true, row_names: true, responsive: false,
					height: '400px', width: '400px',
					title: 'Mutation profile',
					x_label: 'Number of haplotypes',
					config: {
						'showLegend' => false,
						'smpTitle' => 'Number of mutations',
						'graphOrientation' => 'vertical',
						#'lineDecoration' => false,
						'lineThickness' => '3',
						})
			end
		%>
		<%=
			if !@hash_vars["pairwise_distances_profile"].nil?
				barplot(id: 'pairwise_distances_profile', header: true, row_names: true, responsive: false,
					height: '400px', width: '400px',
					title: 'Pair-wise distances profile',
					x_label: 'Pairs percentage',
					config: {
						'showLegend' => false,
						'smpTitle' => 'Genetic distance per pair (Number of changes)',
						'graphOrientation' => 'vertical',
						#'lineDecoration' => false,
						'lineThickness' => '3',
						})
			end
		%>		
	</div>

</div>
